<section id="contact">
    <h2><span class="prompt">{{ content.contact.title }}</span></h2>
    <form action="/contact" method="POST" class="contact-form">
        <div class="form-group">
            <label><span class="prompt">{{ content.contact.username_label }}</span></label>
            <input type="text" name="name" required>
        </div>
        <div class="form-group">
            <label><span class="prompt">{{ content.contact.email_label }}</span></label>
            <input type="email" name="email" required>
        </div>
        <div class="form-group">
            <label><span class="prompt">{{ content.contact.message_label }}</span></label>
            <textarea name="message" required></textarea>
        </div>
        <button type="submit">{{ content.contact.submit_text }}</button>
    </form>
</section>
