/* =========================================
* RESET & BASE STYLES
========================================= */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text-primary);
  background-color: var(--body-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--font-weight-medium);
  overflow-x: hidden;
  overflow-y: auto; /* Explicitly allow vertical scrolling */
  position: relative;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove default styles for forms */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid overflow with long words/urls */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Set core terminal styles */
#terminal {
  background-color: var(--terminal-bg);
  color: var(--color-text-primary);
}

/* Navigation */
.nav {
  background-color: var(--nav-bg);
  border-color: var(--color-border);
}