{% extends "base.html" %}

{% block content %}
<main class="project-detail-container">


    <div class="vertical-project-detail-name-block">
        <h1 class="vertical-project-name slide-up">commit fast. commit often. commit without a thought</h1>
        <span class="project-subtitle fade-in">{{ project.subtitle }}</span>
    </div>

    <div class="project-detail-content">
        {% include "sections/project_hero.html" %}

        <section class="project-technical">
            <div class="tech-details-grid">
                <div class="tech-detail-card">
                    <h3>Architecture</h3>
                    <p>{{ project.technical.architecture }}</p>
                </div>
                <div class="tech-detail-card">
                    <h3>Implementation</h3>
                    <p>{{ project.technical.implementation }}</p>
                </div>
                <div class="tech-detail-card">
                    <h3>Challenges</h3>
                    <p>{{ project.technical.challenges }}</p>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
